<!-- <h1>
  {{title}}
</h1> -->

<!-- navbar -->
<div class="row">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse-target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Ng2Chat</a>
    </div>
    <div class="collapse navbar-collapse" id="collapse-target">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/rest" routerLinkActive="active">REST</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/chat" routerLinkActive="active">CHAT</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- content -->
<div class="row" style="padding:60px 0 0 0">
  <router-outlet></router-outlet>
</div>
